/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2019, 12:10:33 PM
    Author     : SUWIMA
*/
.pane{
    -fx-border-size:0.8px;
    -fx-border-color: red;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

